[submodule "fpga-vga"]
	path = fpga-vga
	url = git@github.com:michaelgranberryii/fpga-vga.git
[submodule "fpga-ultrasonic-sensor"]
	path = fpga-ultrasonic-sensor
	url = git@github.com:michaelgranberryii/fpga-ultrasonic-sensor.git
[submodule "fpga-uart"]
	path = fpga-uart
	url = git@github.com:michaelgranberryii/fpga-uart.git
[submodule "fpga-simon-game"]
	path = fpga-simon-game
	url = git@github.com:michaelgranberryii/fpga-simon-game.git
[submodule "fpga-guessing-game"]
	path = fpga-guessing-game
	url = git@github.com:michaelgranberryii/fpga-guessing-game.git
[submodule "fpga-pwm"]
	path = fpga-pwm
	url = git@github.com:michaelgranberryii/fpga-pwm.git
[submodule "fpga-fsm-digital-lock"]
	path = fpga-fsm-digital-lock
	url = git@github.com:michaelgranberryii/fpga-fsm-digital-lock.git
